{
  "plugins": ["styled-components-a11y"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".jsm"]
      }
    }
  },
  "ignorePatterns": ["node_modules/**"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "max-len": [1, 140, 2, { "ignoreComments": true }],
    "curly": ["off"],
    "object-curly-newline": ["off"],
    "react/prop-types": [2],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:styled-components-a11y/recommended",
    "prettier"
  ]
}
